$line :1em;
$protryFont:Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
.center{
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.article{
	position: relative;
	height: 600px;
}
@mixin boxSiz() {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.poetry{
	min-height: 180px;
	@include boxSiz();
	h1,h2,h3,h4,h5,h6{
		font-weight: bold;
	}
	.line,p,h1,h2,h3,h4,h5,h6{
		min-height: 100%;
		@include boxSiz();
		@extend .center;
		position: relative;
		float:right;
		width: $line;
		height:100%;
		line-height: 1.5em;
		margin:0 10px;
	}
	.cite{
		font-style: inherit;
		&:before,&:after{
			content:"﹁ ";
		}
		&:after{
			content:" ﹂";
		}
		
	}
}
.em{
	display: inline-block;
	position: relative;
	@for $i from 1 through 10 {
		.em-in:nth-child(#{$i}){
			position: absolute;
			margin-left: -0.1em;
			top:#{1.5*($i)-1.4}em;
		}	
	}
}
@mixin writeMode(){
	writing-mode:tb-rl;
	-webkit-transform: rotate(90deg);    /* for Chrome || Safari */
 	-moz-transform: rotate(90deg);       /* for Firefox */
	-ms-transform: rotate(90deg);        /* for IE */
 	-o-transform: rotate(90deg);         /* for Opera */
}
.poetry{
	font-family: $protryFont;
	margin: auto;
	position: absolute;
	border: 1px solid #eee;
	border-radius: 10px;
	background-color: #e3e3e3;
	@extend .center;
}