@charset "UTF-8";
.center, .poetry .line, .poetry p, .poetry h1, .poetry h2, .poetry h3, .poetry h4, .poetry h5, .poetry h6, .poetry {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.article {
  position: relative;
  height: 600px; }

.poetry {
  padding-right: 1.5%;
  min-height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .poetry .line, .poetry p, .poetry h1, .poetry h2, .poetry h3, .poetry h4, .poetry h5, .poetry h6 {
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: right;
    width: 1em;
    height: 100%;
    line-height: 1.5em;
    margin: 0 10px;
    text-align: justify; }
  .poetry .author {
    padding-top: 16%;
    margin-left: 20px; }
  .poetry .title {
    font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
    margin-left: 10px; }
  .poetry .line {
    font-size: 0.95em;
    padding-top: 15%; }
  .poetry .cite-parent:before {
    content: "︵ "; }
  .poetry .cite-parent:after {
    content: " ︶"; }
  .poetry .cite-bracket:before {
    content: "︷ "; }
  .poetry .cite-bracket:after {
    content: " ︸"; }
  .poetry .cite-le-mo:before {
    content: "︿ "; }
  .poetry .cite-le-mo:after {
    content: " ﹀"; }
  .poetry .cite-square:before {
    content: "︹ "; }
  .poetry .cite-square:after {
    content: " ︺"; }
  .poetry .cite-fe-quotes:before {
    content: "︽ "; }
  .poetry .cite-fe-quotes:after {
    content: " ︾"; }
  .poetry .cite-single-marks:before {
    content: "﹁ "; }
  .poetry .cite-single-marks:after {
    content: " ﹂"; }
  .poetry .cite-double-marks:before {
    content: "﹃ "; }
  .poetry .cite-double-marks:after {
    content: " ﹄"; }
  .poetry .cite-double-quotes:before {
    content: "︻ "; }
  .poetry .cite-double-quotes:after {
    content: " ︼"; }

.em {
  display: inline-block;
  position: relative; }

.em-in {
  position: absolute; }

.en {
  display: inline-block;
  position: relative;
  left: .5em;
  writing-mode: tb-rl;
  line-height: 0em;
  height: 2em;
  width: 20em;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform: rotate(90deg);
  /* for Chrome || Safari */
  -moz-transform: rotate(90deg);
  /* for Firefox */
  -ms-transform: rotate(90deg);
  /* for IE */
  -o-transform: rotate(90deg);
  /* for Opera */ }

.poetry {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: absolute;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #e3e3e3; }
