$line :1em;
$protryFont:'Helvetica Neue', Helvetica, Arial, sans-serif;
.center{
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.article{
	position: relative;
	height: 600px;
}
@mixin boxSiz() {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.poetry{
    padding-right: 1.5%;
	min-height: 180px;
	@include boxSiz();
	.line,p,h1,h2,h3,h4,h5,h6{
		min-height: 100%;
		@include boxSiz();
		@extend .center;
		position: relative;
		float:right;
		width: $line;
		height:100%;
		line-height: 1.5em;
		margin:0 10px;
      text-align: justify;
	}
  .author{
    padding-top: 16%;
    margin-left: 20px;
  }
  .title{
    font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
    margin-left: 10px;
  }
  .line{
    font-size: 0.95em;
    padding-top: 15%;
  }
	.cite{
	}
  .cite-parent{
    &:before{
      content: "︵ ";
    }
    &:after{
      content: " ︶";
    }
  }
  .cite-bracket{
    &:before{
      content: "︷ ";
    }
    &:after{
      content: " ︸";
    }
  }
  .cite-le-mo{
    &:before{
      content: "︿ ";
    }
    &:after{
      content: " ﹀";
    }
  }
  .cite-square{
    &:before{
      content: "︹ ";
    }
    &:after{
      content: " ︺";
    }
  }
  .cite-fe-quotes{
    &:before{
      content: "︽ ";
    }
    &:after{
      content: " ︾";
    }
  }
  .cite-single-marks{
    &:before{
      content:"﹁ ";
    }
    &:after{
      content:" ﹂";
    }
  }
  .cite-double-marks{
    &:before{
      content:"﹃ ";
    }
    &:after{
      content:" ﹄";
    }
  }
  .cite-double-quotes{
    &:before{
      content:"︻ ";
    }
    &:after{
      content:" ︼";
    }
  }
}
.em{
	display: inline-block;
	position: relative;
}
.em-in{
  position: absolute;
}
@mixin writeMode(){
	writing-mode:tb-rl;
	-webkit-transform: rotate(90deg);    /* for Chrome || Safari */
 	-moz-transform: rotate(90deg);       /* for Firefox */
	-ms-transform: rotate(90deg);        /* for IE */
 	-o-transform: rotate(90deg);         /* for Opera */
}
.poetry{
	font-family: $protryFont;
	margin: auto;
	position: absolute;
	border: 1px solid #eee;
	border-radius: 10px;
	background-color: #e3e3e3;
	@extend .center;
}